<% if user_signed_in? && current_user.isadmin == true%>

<div class="admin-page">
    <div class="admin-nav">
            <div class='admin-link' style='background: #C8DAE5; '>
                <div class='admin-logo' style='background-image: url(../../../assets/posts.png);'></div>
                <strong><%= link_to "Публикации", admin_path %></strong>
            </div>
            <div class='admin-link'>
                <div class='admin-logo' style='background-image: url(../../../assets/users.png);'></div>
                <%= link_to "Пользователи", users_path %>
            </div>
            <div class='admin-link'>
                <div class='admin-logo' style='background-image: url(../../../assets/genres.png);'></div>
                <%= link_to "Жанры", categories_path %>
            </div>
            <div class='admin-link' >
                <div class='admin-logo' style='background-image: url(../../../assets/collections.png);'></div>
                <a href="">Подборки</a>
            </div>

            <div class='admin-link'>
                <div class='admin-logo' style='background-image: url(../../../assets/comments.png);'></div>
                <%= link_to "Комментарии", comments_path %>
            </div>
    </div>
    <div class="admin-content">
        <table style='margin-bottom: 100px'>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Title</th>
              <!-- <th>Content</th> -->
              <th>Category</th>
              <th colspan="3"></th>
            </tr>
          </thead>

        <%#= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <%#= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
                <td><%# post.image %></td>
                <td><%= post.name %></td>
                <td><%= post.title %></td>
                <td><%= post.category.name %></td>
                <td><%#= post.content.html_safe %></td>
                <td><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></td>
                <td><%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comment' : 'Commentes'%></td>
                <td><%= link_to 'show', post %></td>
                <td><%= link_to 'edit', edit_post_path(post) %></td>
                <td><%= link_to 'delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>


<%# link_to 'New Post', new_post_path %>



<% end %>
