<% if user_signed_in? && current_user.isadmin == true%>

<div class="admin-page">
    <div class="admin-nav">
            <div class='admin-link' style='background: #C8DAE5; '>
                <div class='admin-logo' style='background-image: url(../../../assets/posts.png);'></div>
                <strong><%= link_to "Публикации", admin_path %></strong>
            </div>
            <div class='admin-link'>
                <div class='admin-logo' style='background-image: url(../../../assets/users.png);'></div>
                <%= link_to "Пользователи", users_path %>
            </div>
            <div class='admin-link'>
                <div class='admin-logo' style='background-image: url(../../../assets/genres.png);'></div>
                <%= link_to "Жанры", categories_path %>
            </div>
            <div class='admin-link' >
                <div class='admin-logo' style='background-image: url(../../../assets/collections.png);'></div>
                <a href="">Подборки</a>
            </div>

            <div class='admin-link'>
                <div class='admin-logo' style='background-image: url(../../../assets/comments.png);'></div>
                <%= link_to "Комментарии", comments_path %>
            </div>
    </div>
    <div class="admin-content">
        <form class='search-form'>
           <p><input type="search" name="q" placeholder="🔍 Введите название плейлиста"></p>
           <!-- <input type="submit" value="Найти"> -->
        </form>
        <div class='filter'>
            <span><%= link_to 'Все', admin_path() %></span>
            <% Category.all.each do |cat| %> |
            	<span><%= link_to cat.name, admin_path(category: cat.name) %></span>
            <% end %>
        </div>

        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Автор</th>
              <th>Название</th>
              <th>Жанр</th>
              <th>Активность</th>
              <th>Действия</th>
            </tr>
          </thead>

        <%#= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <%#= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
                <td><%= post.id %></td>
                <td><%= link_to User.find(post.user_id).username, User.find(post.user_id) %></td>
                <td><%= link_to post.title, post %></td>
                <td><%= link_to post.category.name, post.category %></td>
                <td>
                    <%= post.likes.count %> <%= (post.likes.count) == 1 ? '👍' : '👍'%>
                    <%= post.comments.count %> <%= (post.comments.count) == 1 ? '💬' : '💬'%>
                </td>
                <td>
                    <span><%= link_to 'Изменить', edit_post_path(post) %></span>
                    <span class='delete'>
                        <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </span>

                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>


<%# link_to 'New Post', new_post_path %>



<% end %>
