<div class="stretch alone-form">
    <%= form_with model: @user, local: true, html: {class: "form-edit-user"} do |f| %>


    <h2>Пользователь</h2>

    <div class="field">
        <%= f.label :'Username' %>
          <%= f.text_field :username %>
    </div>

    <div class="field">
        <%= f.label :'Email' %>
          <%= f.text_field :email %>
    </div>


    <div class="field">
      <%= f.label :"Администратор" %>
      <%= f.check_box :isadmin %>
    </div>

    <div class="field">
        <%= f.label :'Заблокирован' %>
        <%= f.check_box :isblocked %>
    </div>

    <%= f.submit "Submit" %>



<% end %>




</div>
