<%= form_with(model: post) do |form| %>
<% if post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form-container">
  <div class="left-panel">

    <%= react_component 'A_AddCover'%>
    <p>*Обложка должна быть вертикального формата,не менее 180 × 400 px</p>
  </div>
  <div class="right-panel">
    <h3>Создание/Редактирование плейлиста</h3>
    <label class='form-label'>Название</label>
    <%= form.text_field :title %>

    <label class='form-label'>Автор</label>
    <%= form.text_field :name, required: true, value:current_user.username,disabled: true %>

    <label class='form-label'>Описание</label>
    <%= form.cktext_area :content %>

    <label class='form-label'>Категория</label>
    <%= form.select :category_id, Category.pluck(:name, :id) %>

    <label class='form-label'>Ссылка на плейлист</label>
    <%= form.text_field :link %>

    <%= form.submit "Сохранить" %>
  </div>
</div>

<% end %>
