

<p id="notice"><%= notice %></p>



<div class="main">
    <span class="main-head">Статья</span>
    <span class="main-name">
        Как связаны клипы<br>
        Моргенштерна?
    </span>
    <div class="main-author">
        <div></div>
        <span>Дима Головкин</span>
    </div>
</div>

    <h2>Погрустим?</h2>
    <div class="posts-container">
            <% @posts.each do |post| %>
            <div>
                <div class="pic"></div>
                <div class="post-description">
                    <div class="title"><%= link_to post.title, post %></div>
                    <div class="tags">
                        <div>Грустные</div>
                        <div>ВШЭ</div>
                    </div>
                    <div class="name">
                        <div></div>
                        <span><%= post.name %></span>
                    </div>
                </div>
                <%= link_to '', edit_post_path(post), class: 'edit' %>
                <%= link_to '', edit_post_path(post), class: 'bin' %>
            </div>
            <% end %>
    </div>


<br>

<div class="create_btn">
    <%= link_to 'Создать +', new_post_path %>
</div>





<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.link %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>
