<%= react_component 'Q_CoverMain'%>

<div class="posts_container" style='justify-content: left; gap: 12px;'>
  <% @posts.each do |post| %>
  <%= react_component 'M_Post', { title: post.title, post: post}%>
  <% end %>
</div>


<div class="stretch alone-form">
    <div class="main">
        <span class="main-head">Статья</span>
        <span class="main-name">
            Как связаны клипы<br>
            Моргенштерна?
        </span>
        <div class="main-author">
            <div></div>
            <span>Дима Головкин</span>
        </div>
    </div>

    <div style='width: 700px; margin: 20px auto;'>
        <span><%= link_to 'Все', posts_path() %></span>
        <% Category.all.each do |cat| %>
        	| <span><%= link_to cat.name, posts_path(category: cat.name) %></span>
        <% end %>
    </div>








    <br>

    <div class="create_btn">
        <%= link_to 'Создать +', new_post_path %>
    </div>
</div>
