<div class="cover-long" style="background-image: url('<%= image_url @post.image.url %>');">

</div>



<div class="post-container">
    <%= react_component 'O_PostInfo', { title: @post.title, description: @post.content.html_safe, author: User.find(@post.user_id).id, authordata: User.find(@post.user_id)}%>


  

    <% if (user_signed_in? && current_user.isadmin == true)%>
        <%= link_to 'Редактировать',  edit_post_path(@post) %>
        <%= link_to 'Удалить', @post, method: :delete, data: { confirm: 'Are you sure?' }%>
    <% end %>

    <%= form_tag :qr_code_download, method: :get do |f| %>
      <div class="field">
        <%= text_field_tag :content, nil, required: true, class: 'form-control', value:@post %>
      </div>

      <div class="actions">
        <%= submit_tag 'QR-код' %>
      </div>
    <% end %>


    <h2>Комментарии:</h2>
    <%= render @post.comments %>

    <% if user_signed_in? %>
    <%= render "comments/form" %>
    <% else %>
    <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
    <% end %>

</div>
