<p id="notice"><%= notice %></p>


<div class="show-main-screen ">
    <div class="pic"></div>
    <div class="post-description">
        <div class="title"><%= @post.title %></div>
        <div class="tags">
            <div>Грустные</div>
            <div>ВШЭ</div>
        </div>
        <div class="name">
            <div></div>
            <span><%= @post.name %></span>
        </div>
        <% if user_signed_in? %>
            <%= link_to 'Edit', edit_post_path(@post) %>
        <% end %>
        <%= link_to '',  edit_post_path(@post), class: 'edit' %>
        <%= link_to '', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'bin' %>
    </div>
</div>

<div class="show-description">

    <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
    <% else %>
      <%= button_to 'Like', post_likes_path(@post), method: :post %>
    <% end %>

    <div class="author-block">
        <h2>Автор</h2>
        <div class="name">
            <div></div>
            <span><%= @post.name %></span>
            <a href="#">Подписаться</a>
        </div>
    </div>
    <div class="description-block">
        <p>
              <strong>Category:</strong>
              <%= @post.category.name %>
        </p>
        <p>
          <strong>Content:</strong>
          <%= @post.content.html_safe %>
        </p>
    </div>
    <div class="mood">
        <h2>Настроение</h2>
        <div class="tags">
            <div style='background-color: #B8D0FF'>Грустные</div>
            <div style='background-color: #FADBE0'>ВШЭ</div>
            <div style='background-color: #DCF580'>Для сессии</div>
        </div>
    </div>
    <div class="mood">
        <h2>Праздники</h2>
        <div class="tags">
            <div style='background-color: #A480FE'>Новый год</div>
            <div style='background-color: #FADBE0'>День рождения</div>
        </div>
    </div>
    <div class="mood">
        <h2>Настроение</h2>
        <div class="tags">
            <div style='background-color: #DCF580'>Грустные</div>
            <div style='background-color: #B8D0FF'>ВШЭ</div>
        </div>
    </div>
    <div class="mood">
        <h2>Исполнители</h2>
        <div class="tags">
            <div style='background-color: #FADBE0'>The Maneskin</div>
            <div style='background-color: #FADBE0'>Babymetal</div>
        </div>
    </div>

    <div class="link-block">
        <h2>Ссылка на плейлист</h2>
        <p><%= @post.link %></p>
    </div>

    <h2>Комментарии:</h2>
    <%= render @post.comments %>

    <% if user_signed_in? %>
    <%= render "comments/form" %>
    <% else %>
    <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
    <% end %>


    <%# render "comments/form" %>
</div>
