<div class="container">
    <div class="concept">
        <h2>Концепт</h2>
        <p>
            Наше отличие от прочих серисов в том,<br>что мы не предоставляем треки<br> напрямую, однако, в Listium можно<br><span>найти идеально подходящие по вайбу<br> плейлисты</span>, а так же обсуждать<br>и узнавать новое о музыке.
        </p>
    </div>
    <div class="search">
        <h2>Что мы выяснили?</h2>
        <p>
            Проведя исследование, мы выяснили,<br> что большинству респондентов нравиться слушать<br>музыку. Они буквально живут этим. Это поднимает<br>настроение, позволяет настроиться на нужную волну.<br>Многие активно пользуются плейлистами.<br>
            <br>
            Однако люди часто сталкиваются с проблемой,<br>в которой их текущая музыка надоедает. Пользователи<br>часто испытывают трудности в поиске новой музыки.
        </p>
        <h3 stylle="margin-top: 100px;">Исследование подтвердило наши гипотезы</h3>
        <%= image_tag("line.svg", :style => 'position: absolute; top: 50px; right: 0')%>
        <%= image_tag("arrow.svg", :style => 'position: absolute; top: 536px; right: 272px')%>
        <div class="hypo">
            <div>
                <p>
                    Иногда испытывают трудности<br>
                    в поиске новой музыки
                </p>
                <%= image_tag("stat1.svg", :style => 'width: 45%;')%>
            </div>
            <div>
                <p>Старая музыка уже надоедает</p>
                <%= image_tag("stat2.svg", :style => 'width: 80%; margin-top: 55px;')%>
            </div>
            <div>
                <p>Многие пользуются плейлистами</p>
                <%= image_tag("stat3.svg") %>
            </div>
            <div>
                <p>В основном создают свои</p>
                <%= image_tag("stat4.svg") %>
            </div>
        </div>
    </div>
    <div class="problems">
        <%= image_tag("line.svg", :style => 'position: absolute; top: 50px; right: 0')%>
        <h2>Как решаем?</h2>
        <h3>
            Мы позволим<br>пользователям делиться<br>плейлистами.
        </h3>
        <div>
            <p>Каждый сможет выкладывать свои<br>плейлисты.</p>
            <%= image_tag("problem1.svg") %>
        </div>
        <div>
            <p>В свою очередь, любой человек,<br>имеющий сложности в поиске,<br>может найти себе плейлист<br>по настроению.</p>
            <%= image_tag("problem2.png") %>
        </div>
        <div>
            <p>Добавим подписки лайки<br> и комментарии, чтобы люди могли<br> общаться и обмениваться опытом.</p>
            <%= image_tag("problem3.png") %>
        </div>
    </div>
    <div class="mechamics">
        <h2>Механики</h2>
    </div>
    <div class="ca">
        <%= image_tag("line.svg", :style => 'position: absolute; top: 50px; right: 0')%>
        <h2>Для кого?</h2>
        <div>
            <%= image_tag("write.svg") %>
            <p>Активная аудитория публикует плейлисты</p>
        </div>
        <div>
            <%= image_tag("loupe.svg") %>
            <p>Пассивная аудитория ищет и смотрит плейлисты</p>
        </div>
        <div class='guys'>
            <div>
                <%= image_tag("roman.png") %>
                <p>Роман (22)</p>
                <p class="small">
                    Начинающий реп-музыкант, студент-заочник.<br> Увлекаться музыкой начал с подросткового<br> возраста, а серьёзно занялся этим во время<br>обучения в колледже.
                </p>
            </div>
            <div>
                <%= image_tag("valya.png") %>
                <p>Валентина (15)</p>
                <p class="small">
                    Ученица средней школы. Сидит в тиктоке, играет<br> в Геншин и читает фанфики. Слушает АСМР<br>с любимыми персонажами из аниме.
                </p>
            </div>
        </div>
    </div>
    <div class="students">
        <h2>Над проектом трудятся</h2>
        <div class='guys'>
            <div>
                <%= image_tag("dima.png") %>
                <p>Дима Головкин</p>
            </div>
            <div>
                <%= image_tag("nastya.png") %>
                <p>Настя Соколова</p>
            </div>
        </div>
    </div>
</div>
