<!DOCTYPE html>
<html>
  <head>
    <title>Listium</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# stylesheet_link_tag    params["controller"], media: 'screen' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>

  </head>

  <body>
    <%= react_component 'O_Header', { current_user:  current_user, auth: user_signed_in?}%>




      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% elsif alert %>
        <p class="alert"><%= alert %></p>
      <% end %>


        <%= yield %>
    <footer>
        <div class="school">
            <span>@2021</span>
            <span>HSE ART AND DESIGN SCHOOL</span>
            <span>Дизайн и программирование</span>
        </div>
        <div class="soc-media">
            <%= image_tag("facebook.png") %>
            <%= image_tag("instagram.png") %>
            <%= image_tag("behance.png") %>
        </div>
    </footer>
  </body>
</html>
