<!DOCTYPE html>
<html>
  <head>
    <title>Listium</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# stylesheet_link_tag    params["controller"], media: 'screen' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>

  </head>

  <body>

      <div class="top_menu">
        <div class="top-menu-nav">
            <div class="logo"'>
                <%# image_tag("logo.svg") %>
            </div>

            <nav>
                <%# link_to "Промо", promo_path %>
                <%# link_to "О нас", about_path %>
                <a href="">Лендинг</a>
                <a href="https://dimchenskiy.github.io/StyleGuide/" target="_blank">Стайлгайд</a>
                <%= link_to "Рекомендации", posts_path %>

            </nav>

        </div>

        <%= react_component 'Tests' %>
        <div class="top-menu-links">
            <% Category.where(display_in_navbar: true).each do |cat| %>
              <%= link_to cat.name, posts_path(category: cat.name) %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to 'Аккаунт', current_user %> |
            <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Войти', new_user_session_path %> |
            <%= link_to 'Зарегистрироваться', new_user_registration_path %>
          <% end %>

          <% if user_signed_in? && current_user.isadmin == true%>
              <div class="admin-btn">
                  <%= link_to "Панель управления", admin_path %>
              </div>
          <% end %>
        </div>
      </div>

      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% elsif alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

        <%= yield %>
    <footer>
        <div class="school">
            <span>@2021</span>
            <span>HSE ART AND DESIGN SCHOOL</span>
            <span>Дизайн и программирование</span>
        </div>
        <div class="soc-media">
            <%= image_tag("facebook.png") %>
            <%= image_tag("instagram.png") %>
            <%= image_tag("behance.png") %>
        </div>
    </footer>
  </body>
</html>
